h1{
  font-family: 'Akaya Kanadaka', cursive;
  color: #545b62;
  text-align: center;
  }
  h2{
  
   
  
  font-family: 'Akaya Kanadaka', cursive;
  position: relative;
  top: 63px;
  color: #28a745;
  text-align: center;
  }
  h2:hover{
  color: #545b62;
  }
  
   
  
  /*Adding a circle to fill the space gap*/
  div.circle {
    margin-right: 5%;
    position: relative;
    top: 40px;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    zoom: 1.5;
  }
  div#a {
    background-color: #6c757d;
    zoom: normal;
  }
  div#b {
    background-color:  #28a745;
    zoom: 200%;
  }
  div#c {
    background-color: #007bff;
    zoom: 2.9;
  }
  /*Revers*/
  div#d {
    background-color: #6c757d;
    zoom: 2.2;
  }
  div#e {
    background-color:  #28a745;
    zoom: 100%;
  }
  
   
  
  
  /* Footer height */
  #footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
  color: #545b62;
  
   
  
  }
  
   
  
   
  
  /*Styling for the Countries*/
  
   
  
  button{
     background-color: #545b62; /* Gray */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:15px;
    white-space: nowrap;/*Make all text in one line*/
    border-radius: 7px;
  }
  
   
  
  
  .selectBox {
              position: relative;
          }
  
   
  
  .selectBox select {
              width: 23%;
              border: 3px #6c757d solid;
              background-color: #6c757d;
              color: #fff;
              font-weight: bold;
              font-size: 20px;
              font-family: cursive
          }
  .overSelect {
              position: absolute;
              left: 0;
              right: 0;
              top: 0;
              bottom: 0;
          }
    
  #checkBoxes {
              display: none;
              width: 22.71%;
              position: absolute;
              background-color: #f1f1f1;
              box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          }
    
  #checkBoxes label {
              display: block;
          }
    
  #checkBoxes label:hover {
              background-color: #007bff6e;
          }
  
   
  
   
  
  /*Test other dropdown*/
  
   
  
  /* Dropdown Button */
  .dropbtn {
    position:relative; 
    left:0px; 
    bottom: 211px;
    background-color: #6c757d;
    color: white;
    padding: 16px;
    font-size: 16px;
    width: 100%;
    border: none;
    cursor: pointer;
  }
  
   
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #0b81fee0;
  }
  
   
  
  
  .dropdown {
   margin-left: 90%;
  }
  
   
  
  /* Dropdown Content, by default hiden */
  .dropdown-content {
    display: none;
    position: relative;
    bottom: 210px;
    background-color: #f1f1f1;
    min-width: 127px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
   
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #000000;
  
   
  
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
   
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
   
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}
  
   
  
  span{
    font-size: 25px;
    position: relative;
    top: 3px;
  }
  
   
  
  span:hover{
    color: #008000c7;
  }